

/* main */

main{
    padding-top: 77px;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* fin main */






/* seleccionar categorias */



/* filtros */

.filtros-de-busqueda form{
    margin: 2rem 8rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
    gap: 1rem;
}


@media screen and (max-width: 1250px){
    .filtros-de-busqueda form{
        margin: 1.5rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

/* fin filtros */





/* fin seleccionar categorias */





.dropdown3{
    position: relative;
    /* width: 175px; */
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    /* max-height: 40px; */
}

.dropdown-list3 a{
    color: black;
}

.dropdown-text3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    color: black !important;
    padding: .6rem 1rem;

}

.dropdown-text3 i{
    font-size: 1.2rem;
}

.dropdown-list3{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#list3.show3{
    max-height: 500px;
}

.dropdown-list-item3{
    font-size:.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}

.dropdown-list-item3:hover{
    margin-left: .5rem;


}








/* ordenar precio */




.dropdown2{
    position: relative;
    /* width: 175px; */
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    /* max-height: 40px; */
}

.dropdown-list2 a{
    color: black;
}

.dropdown-text2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    color: black !important;
    /* padding: 1rem 1.5rem; */
    padding: .6rem 1rem;
}

.dropdown-text2 i{
    font-size: 1.2rem;
}

.dropdown-list2{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#list2.show2{
    max-height: 500px;
    z-index: 999;
}

.dropdown-list-item2{
    font-size:.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}

.dropdown-list-item2:hover{
    margin-left: .5rem;


}






/* fin ordenar precio */






/* filtrar precio */




.rangos-precio{
    border: none;
    outline: none;
    padding: .6rem 1rem;
    /* height: 40px; */
    /* width: 175px; */
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: .9rem;
}

.filtro-precio form button{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: .6rem;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    background-color: #add8e6; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}


.filtros-de-busqueda button{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    cursor: pointer;
    color: white !important;
    background-color: #6cafc9;
    height: 40px;
    transition: .3s;
}

.filtros-de-busqueda button:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

@media screen and (max-width: 530px) and (min-width: 365px) {
    .filtros-de-busqueda button{
        width: 208%;
        
    }
}

/* fin filtrar precio */


/* .filtros-de-busqueda{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
    gap: 1rem;
} */

@media screen and (max-width: 900px){
    .filtros-de-busqueda{
        /* display: flex;
        flex-direction: column; */
    }
    
}



/* productos */



.productos{
    padding: 0rem 8rem 1rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;

    
    
}



.box{

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
    padding: 15px;
    
}

.box:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    transition: .3s;
}



.slide-img{
    height: 150px;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.detail-box{
    width: 100%;
    text-overflow: ellipsis;


}

.detail-box h3{

    overflow: hidden;
    white-space: nowrap;
    font-size: .9rem;
    font-weight: 500;
    color: black;
    background: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 100%);
            -webkit-background-clip: text;
            color: transparent;
            white-space: nowrap;
}

.detail-box h4{
    font-size: .8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(128, 128, 128, 0.75);
    font-weight: 400;
    margin: .3rem 0;
}

.detail-box p{
    font-size: .9rem;
    font-weight: 500;
    color: #000;
}

.productos h2{
    font-size: 1.4rem;
    font-weight: 600;
}

h5{
    font-size: 1.2rem;
    font-weight: 600;
}




@media screen and (max-width: 1250px){
    .productos{
        padding: 0rem 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
        justify-content: center;
    }

    main{
        padding-top: 118px;
    }
    

    
    
}

@media screen and (min-width: 1250px){
    .box{
        /* width: 200px; */
    }
    .slide-img{
        height: 175px;
    }
    .detail-box h3{
        font-size: 1rem;
    }
    .detail-box h4{
        font-size: .9rem;
    }
    .detail-box p{
        font-size: 1rem;
    }
    h5{
        width: 400px;
    }
    .menos-de-cinco-productos{
        grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    }
}
/* fin productos */

