*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    
}


/* header */


.search-bar{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: white !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: .3s;
    max-height: 40px;
}

.search-bar:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.dropdown{
    position: relative;
    width: 280px;
    border-radius: 50px;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
    cursor: pointer;

    /* max-height: 40px; */
}

.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    color: black !important;
    /* padding: 1rem 1.5rem; */
    padding: 1rem 1rem;
}

.dropdown-text i{
    font-size: 1.2rem;
}

.dropdown-list{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#list.show{
    max-height: 500px;
}

.dropdown-list-item{
    font-size:.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}

.dropdown-list-item:hover{
    margin-left: .5rem;


}

.search-box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: brown;

    max-height: 40px;
}

.search-box input{
    /* padding: .8rem; */
    width: 100%;
    font-size: .9rem;
    font-weight: 500;
    color: black;
    border: none;
    outline: none;
}

.search-box i{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    
}

.search-box input::placeholder{
    color: rgba(128, 128, 128, 0.75);
    font-weight: 500;
    font-size: .85rem;
}

button{
    background: none;
    border: none !important;
}





header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1.2rem 8rem 1.2rem 8rem;
    position: fixed;
    width: 100%;
    background-color: white !important;
    z-index: 999;
}

nav ul{
    display: flex;
    gap: 4rem;
    margin-bottom: 0;
}

nav i{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

nav i:hover{
    /* background-color: rgba(128, 128, 128, 0.045); */
    background-color: rgba(128, 128, 128, 0.070);
    transition: .3s;
}



.sub-menu-wrap{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem 1rem 0 0;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-radius: 12px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: white;
    padding: 10px 20px;
}
.user-info{
    display: flex;
    align-items: center;
    
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    color: black;
    padding: 12px 0;
    text-align: center;

}

.sub-menu-link p{
    width: 100%;
    transition: .2s;
    font-size: .9rem;
}

.sub-menu-link i{
    margin-right: 10px;
    font-size: 1.4rem;
    
}

.sub-menu-link span{
    font-size: 1.4rem;
    transition: transform .2s;
}

.sub-menu-link:hover span{
    transform: translateX(.5rem);
}

.sub-menu-link:hover p{
    transition: .2s;
    margin-left: .5rem;
}







@media screen and (min-width: 1250px){
    #menu{
        display: none;
    }

    .sub-menu-wrap{
        display: none;
    }

}

@media  screen and (max-width: 1250px){
    header{
        flex-direction: column;
        padding: 1rem 1rem 1rem 1rem;
        gap: 1rem;
    }
    
    header img{
        width: 150px;
    }

    .search-bar{
        width: 100%;
    }

    

    nav{
        /* width: 100%; */
        display: none !important;
    }

    /* nav ul{
        gap: 0;
        justify-content: space-around;
    } */
    
    .logo-y-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo-y-menu i{
        font-size: 1.5rem;
        cursor: pointer;
    }

}


/* fin header */






/* main */

main{
    padding-top: 77px;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* fin main */






/* seleccionar categorias */



/* filtros */

.filtros-de-busqueda form{
    margin: 1.5rem 8rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
    gap: 1rem;
}


@media screen and (max-width: 1250px){
    .filtros-de-busqueda form{
        margin: 1.5rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

/* fin filtros */





/* fin seleccionar categorias */





.dropdown3{
    position: relative;
    /* width: 175px; */
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    /* max-height: 40px; */
}

.dropdown-list3 a{
    color: black;
}

.dropdown-text3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    color: black !important;
    padding: .6rem 1rem;

}

.dropdown-text3 i{
    font-size: 1.2rem;
}

.dropdown-list3{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#list3.show3{
    max-height: 500px;
}

.dropdown-list-item3{
    font-size:.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}

.dropdown-list-item3:hover{
    margin-left: .5rem;


}








/* ordenar precio */




.dropdown2{
    position: relative;
    /* width: 175px; */
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    /* max-height: 40px; */
}

.dropdown-list2 a{
    color: black;
}

.dropdown-text2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    color: black !important;
    /* padding: 1rem 1.5rem; */
    padding: .6rem 1rem;
}

.dropdown-text2 i{
    font-size: 1.2rem;
}

.dropdown-list2{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#list2.show2{
    max-height: 500px;
    z-index: 999;
}

.dropdown-list-item2{
    font-size:.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}

.dropdown-list-item2:hover{
    margin-left: .5rem;


}






/* fin ordenar precio */






/* filtrar precio */




.rangos-precio{
    border: none;
    outline: none;
    padding: .6rem 1rem;
    /* height: 40px; */
    /* width: 175px; */
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: .9rem;
}

.filtro-precio form button{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: .6rem;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    background-color: #add8e6; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}


.filtros-de-busqueda button{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    cursor: pointer;
    color: white !important;
    background-color: #6cafc9;
    height: 40px;
    transition: .3s;
}

.filtros-de-busqueda button:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

@media screen and (max-width: 530px) and (min-width: 365px) {
    .filtros-de-busqueda button{
        width: 208%;
        
    }
}

/* fin filtrar precio */


/* .filtros-de-busqueda{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
    gap: 1rem;
} */

@media screen and (max-width: 900px){
    .filtros-de-busqueda{
        /* display: flex;
        flex-direction: column; */
    }
    
}



/* productos */



.productos{
    padding: 0rem 8rem 1rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(175px, 1fr));
    gap: 1rem;

    
    
}



.box{

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
    padding: 15px;
    
}

.box:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    transition: .3s;
}



.slide-img{
    height: 150px;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.detail-box{
    width: 100%;
    text-overflow: ellipsis;


}

.detail-box h3{

    overflow: hidden;
    white-space: nowrap;
    font-size: .9rem;
    font-weight: 500;
    color: black;
    background: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 100%);
            -webkit-background-clip: text;
            color: transparent;
            white-space: nowrap;
}

.detail-box h4{
    font-size: .8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(128, 128, 128, 0.75);
    font-weight: 400;
    margin: .3rem 0;
}

.detail-box p{
    font-size: .9rem;
    font-weight: 500;
    color: #000;
}

.productos h2{
    font-size: 1.4rem;
    font-weight: 600;
}

h5{
    font-size: 1.2rem;
    font-weight: 600;
}




@media screen and (max-width: 1250px){
    .productos{
        padding: 0rem 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
        justify-content: center;
    }

    main{
        padding-top: 118px;
    }
    

    
    
}

@media screen and (min-width: 1250px){
    .box{
        /* width: 200px; */
    }
    .slide-img{
        height: 175px;
    }
    .detail-box h3{
        font-size: 1rem;
    }
    .detail-box h4{
        font-size: .9rem;
    }
    .detail-box p{
        font-size: 1rem;
    }
    h5{
        width: 400px;
    }
    .menos-de-cinco-productos{
        grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    }
}
/* fin productos */



/* footer */

footer{
    margin-top: 3rem;
    padding: 1.5rem 8rem 1rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}


.logoyinfo{
    display: flex;
    justify-content: space-between;

}

.logoyredes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.redes a{
    background-color: none;
    border-radius: 50%;
    padding: 10px;
    transition: .3s;
}

.redes a:hover{
    background-color: rgba(128, 128, 128, 0.070);
    transition: .3s;
}

.redes i{
    font-size: 1.5rem;
    color: black;
}

footer h3{
    font-size: 1.2rem;
    font-weight: 600;
}

footer hr{
    margin: .5rem 0;
    width: 100%;
    border: none;
    border-top: 1px solid rgb(81, 81, 81);
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer ul li a, footer p{
    font-size: .9rem;
    font-weight: 500;
    color: rgb(100, 100, 100);
    transition: .3s;
}

footer ul li a:hover, footer p:hover{
    color: black;
    transition: .3s;
}






.copy{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: .8rem;
    color: rgb(100, 100, 100);
    font-weight: 500;
    text-align: center;
    font-style: italic;
}


@media screen and (max-width: 1250px){
    footer{
        padding: 1.5rem 1rem 1rem;
    }
}

@media screen and (max-width: 900px){
.logoyinfo{
    flex-direction: column;
}

footer h3{
    margin-top: 1.5rem;
}

.redes{
    justify-content: center;
}

}

/* fin footer */





