*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    user-select: none;
}


/* header */


.search-bar{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: white !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: .3s;

    max-height: 40px;
}

.search-bar:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.dropdown{
    position: relative;
    width: 280px;
    border-radius: 50px;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
    cursor: pointer;

    /* max-height: 40px; */
}

.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    color: black !important;
    /* padding: 1rem 1.5rem; */
    padding: 1rem 1rem;
}

.dropdown-text i{
    font-size: 1.2rem;
}

.dropdown-list{
    position: absolute;
    top: 3.2rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#list.show{
    max-height: 500px;
}

.dropdown-list-item{
    font-size:.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}

.dropdown-list-item:hover{
    margin-left: .5rem;


}

.search-box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: brown;

    max-height: 40px;
}

.search-box input{
    /* padding: .8rem; */
    width: 100%;
    font-size: .9rem;
    font-weight: 500;
    color: black;
    border: none;
    outline: none;
}

.search-box i{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    
}

.search-box input::placeholder{
    color: rgba(128, 128, 128, 0.75);
    font-weight: 500;
    font-size: .85rem;
}

button{
    background: none;
    border: none ;
}





header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1.2rem 8rem 1.2rem 8rem;
    position: fixed;
    width: 100%;
    background-color: white !important;
    z-index: 999;
}

nav{
    display: flex;
    gap: 4rem;
    margin-bottom: 0;
}

nav ul{
    display: flex;
    gap: 4rem;
    margin-bottom: 0;
}

nav i{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

.nav:hover{
    /* background-color: rgba(128, 128, 128, 0.045); */
    background-color: rgba(128, 128, 128, 0.070);
    transition: .3s;
}



.sub-menu-wrap{
    position: absolute;
    top: 0;
    right: 0;
    margin: 3rem 1rem 0 0;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-radius: 12px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: white;
    padding: 10px 20px;
}


.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    color: black;
    padding: 12px 0;
    text-align: center;

}

.sub-menu-link p{
    width: 100%;
    transition: .2s;
    font-size: .9rem;
}

.sub-menu-link i{
    margin-right: 10px;
    font-size: 1.4rem;
    
}

.sub-menu-link span{
    font-size: 1.4rem;
    transition: transform .2s;
}





.sub-menu-wrap2{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem 3.7rem 0 0;
    width: 175px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-radius: 12px;
}

.sub-menu-wrap2.open-menu2{
    max-height: 400px;
}

.sub-menu2{
    background: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sub-menu2 hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link2{
    display: flex;
    align-items: center;
    color: black;
    transition: .2s;
    border-radius: 12px;

}

.sub-menu-link2 p{
    width: 100%;
    transition: .2s;
    font-size: .9rem;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 100%);
            -webkit-background-clip: text;
            color: transparent;
            white-space: nowrap;
}

.sub-menu-link2 i{
    /* margin-right: 10px; */
    font-size: 1.4rem;
    
}

.sub-menu-link2 span{
    font-size: 1.4rem;
    transition: transform .2s;
}

.sub-menu-link2:hover{
    transition: .2s;
    background-color: rgba(128, 128, 128, 0.070);
}


.cerrar p, .cerrar i{
    color: red;
}


.celu{
    margin: 3rem 0 0 0;
}




.account-menu {
    display: none;
    position: absolute;
    left: 0; /* Adjust this value as needed */
    background-color: white;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    z-index: 99999;
    width: 200px;
}
.account-menu-link {
    display: block;
    padding: 0 20px 20px;
    font-size: .9rem;
    text-decoration: none;
    color: black;
    text-align: start;
}

.account-menu span{
    color: red;
}







@media screen and (min-width: 1250px){
    #menu{
        display: none;
    }

    .sub-menu-wrap{
        display: none;
    }

}

@media  screen and (max-width: 1250px){
    header{
        flex-direction: column;
        padding: 1rem 1rem 1rem 1rem;
        gap: 1rem;
    }
    
    header img{
        width: 150px;
    }

    .search-bar{
        width: 100%;
    }

    

    nav{
        /* width: 100%; */
        display: none !important;
    }

    /* nav ul{
        gap: 0;
        justify-content: space-around;
    } */
    
    .logo-y-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo-y-menu i{
        font-size: 1.5rem;
        cursor: pointer;
    }

}


/* header */





main{
    padding: 78px 8rem 0;
}


.info-cuenta h1{
    margin: 2rem 0 1rem;
    font-weight: 600;
}

form h2{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.81);
}

.items{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.informacion-personal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.informacion-ubicacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.direccion{
    grid-column-start: 1;
    grid-column-end: 3;
}

.botones{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: end;
}


.info-cuenta label{
    font-size: .85rem;
    font-weight: 400;
    
}

.info-cuenta input{
    padding: 10px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    transition: .2s;
    
}

.info-cuenta input:focus{
    transition: .2s;
    outline: none;
    box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.25);
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.linea{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.15);
    margin: 2rem 0;
}


.botones button[type="submit"]{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: white;

    background-color: #5dccff;
    transition: .2s;
    cursor: pointer;
}

.botones button[type="submit"]:hover{
    transition: .2s;

    background-color: #00aeff;
    transform: translateY(-1px);
}

.botones button[type="reset"]{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: white;

    background-color: #ff6969;
    transition: .2s;
    cursor: pointer;
}

.botones button[type="reset"]:hover{
    transition: .2s;

    background-color: #ff0000ac;
    transform: translateY(-1px);
}
























@media screen and (max-width: 1250px){
    main{
        padding: 118px 1rem 0;
    }
    .informacion-personal, .informacion-ubicacion{
        display: flex;
        flex-direction: column;
    }
    .botones{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}




/* footer */

footer{
    margin-top: 3rem;
    padding: 1.5rem 8rem 1rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}


.logoyinfo{
    display: flex;
    justify-content: space-between;

}

.logoyredes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.redes a{
    background-color: none;
    border-radius: 50%;
    padding: 10px;
    transition: .3s;
}

.redes a:hover{
    background-color: rgba(128, 128, 128, 0.070);
    transition: .3s;
}

.redes i{
    font-size: 1.5rem;
    color: black;
}

footer h3{
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 2px solid black; 
    padding-bottom:.5rem;
    margin-bottom: .6rem;
    display: inline-block;
}


footer ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer ul li a, footer p{
    font-size: .9rem;
    font-weight: 500;
    color: rgb(100, 100, 100);
    transition: .3s;
    border-bottom: 1.6px solid transparent;
    display: inline-block;
    padding-bottom: 2px;
    
}

.categorias-footer ul li a:hover ,.politicas ul li a:hover,.contacto p:hover{
    color: black;
    transition: .3s;
    border-bottom: 1.6px solid black;
    
}






.copy{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: .8rem;
    color: rgb(100, 100, 100);
    font-weight: 500;
    text-align: center;
    font-style: italic;
}


@media screen and (max-width: 1250px){
    footer{
        padding: 1.5rem 1rem 1rem;
    }
}

@media screen and (max-width: 900px){
.logoyinfo{
    flex-direction: column;
}

footer h3{
    margin-top: 1.5rem;
}

.redes{
    justify-content: center;
}

}

/* fin footer */