
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}



main{
    padding: 78px 8rem 0;
}

.info-cuenta{
    margin-bottom: 2rem;
}
.info-cuenta h1{
    margin: 2rem 0;
    font-weight: 600;
}

form h2{
    margin: 0 0 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.81);
}

.items{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.items label{
    font-size: 1.1rem;
}


.informacion-personal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}

.personal{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.informacion-ubicacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ubicacion{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 1.5rem;
    
}

.direccion{
    grid-column-start: 1;
    grid-column-end: 3;
}

.botones{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: end;
}

.btn-juntos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.info-cuenta label{
    font-size: .95rem;
    font-weight: 400;
    /* color: rgba(128, 128, 128, 0.81); */
    
}

.info-cuenta input{
    font-size: .9rem;
    padding: 10px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: .2s;
    
}

.info-cuenta input:focus{
    transition: .2s;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.linea{
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    margin: 2rem 0;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.botones button{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.botones button[type="submit"]{
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: white;

    font-size: .9rem;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: black;
}

.botones button[type="submit"]:hover{
    transition: .2s;
    background-color: #5dccff;;
    
}



.botones button[type="reset"]{
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: rgb(240, 0, 0);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: white;
    transition: .2s;
    cursor: pointer;
    font-size: .9rem;

}

.botones button[type="reset"]:hover{
    transition: .2s;
    background-color: rgb(240, 0, 0);
    color: white;

    
}
.mensaje{
    margin-top: 1rem;
}



.email{
    grid-column: 1/3;
}













@media screen and (max-width: 800px){
    .botones{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .btn-juntos{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}



@media screen and (max-width: 1250px){
    main{
        padding: 118px 1rem 0;
    }
    .informacion-personal, .informacion-ubicacion{
        display: flex;
        flex-direction: column;
    }
    
}


