main{
    padding: 78.4px 8rem 0;


}

.linea{
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.25);
    margin: 3rem 0;
}

.favoritos h1{
    margin: 2rem 0;
    font-weight: 600;
}



.imagen{
    width: 125px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}


.favoritos h1{
    margin: 2rem 0;
    font-weight: 600;
}



.imagen{
    width: 100px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.favoritos-tabla{
    width: 100%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4rem;
    background-color: #fff;
    /* box-shadow: 0 0 3px rgba(0,0,0,0.2);
    border-radius: 6px; */
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    font-size: .9rem;
    
    justify-content: center;
}

/* tr{
    transition: .1s;
}

tr:hover{
    background-color: #f5f5f5;
    transition: .1s;
} */


th{

    font-weight: 600;
    padding: 12px;
    color: #00000070;
}



.borrar i{
    color: red;
    font-size: 1.5rem;
    padding: 8px;
    /* background-color: #e0e0e0; */
    border-radius: 6px;
    transition: .2s;
    
}

.borrar i:hover{
    background-color: rgba(128, 128, 128, 0.15);
    transition: .2s;
}












@media screen and (max-width: 1250px){
    main{
        padding: 118.1px 1rem 0;
    }
    thead{
        display: none;
    }

    tbody tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        /* padding-bottom: 1rem; */
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        
    }

    

    td{
        border-bottom: none;
    }
    .hidden{
        display: none;
    }
   
    
    
    
}