body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}


main{
    padding: 78.4px 8rem 0;


}


.favoritos h1{
    margin: 2rem 0;
    font-weight: 600;
}



.imagen{
    width: 100px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 0 auto; */
}


.borrar i{
    color: red;
    font-size: 1.5rem;
    padding: 8px;
    /* background-color: #e0e0e0; */
    border-radius: 6px;
    transition: .2s;
    
}

.borrar i:hover{
    background-color: rgba(128, 128, 128, 0.15);
    transition: .2s;
}





.favoritos{
    margin-bottom: 4rem;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 1.5fr .5fr;
    align-items: center;
    /* justify-items: center; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 1rem;
    gap: 1rem;
    margin: 1.5rem 0;
    transition: .2s;
}


.imagen{
    margin: 0 auto;
}



.info-producto h2{
    font-size: 1.2rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.info-producto p{
    font-size: .9rem;
    font-weight: 400;
    text-align: start;
    color: rgba(128, 128, 128, 0.75) !important;
    text-wrap: nowrap;
    overflow: hidden;
    padding: .3rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-producto h3{
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black
}


.no-favoritos{
    
    border-radius: 12px;
    padding: 4rem 0;
    font-size: 1.1rem;
    grid-column: 1 / 4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}



.producto:hover{
    transition: .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.borrar{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
















@media screen and (min-width: 900px){
    .favoritos-contenido{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .producto{
        
        margin: 0;
    }
    .info-producto p{
        padding: .6rem 0;
    }
    
    
}




@media screen and (max-width: 1250px){
    main{
        padding: 118.1px 1rem 0;
    }
    /* thead{
        display: none;
    }

    tbody tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        
    }

    

    td{
        border-bottom: none;
    } */
    
   
    
    
    
}


.show {
    opacity: 1;
    animation: fade-in-up 1s;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}


@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}