*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    
}


/* header */


.search-bar{
    display: flex;
    align-items: center;

    border-radius: 50px;
    background-color: white !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.search-bar:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: .3s;
}

.dropdown{
    position: relative;
    width: 280px;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    font-weight: 500;
    color: black !important;
    padding: 1rem 1.5rem;
}

.dropdown-list{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

#list.show{
    max-height: 300px;
}

.dropdown-list-item{
    font-size:.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: margin-left .2s ease;
}

.dropdown-list-item:hover{
    margin-left: .5rem;


}

.search-box{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: brown;


}

.search-box input{
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    border: none;
    outline: none;
}

.search-box i{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    
}

.search-box input::placeholder{
    color: rgba(128, 128, 128, 0.75);
    font-weight: 500;
    font-size: .9rem;
}

button{
    background: none;
    border: none !important;
}




/* .search-container{
    position: relative;
    
}

.search-container input{
    width: 400px;
    font-size: 14px;
    padding: 10px 55px 10px 20px;
    border-radius: 12px;
    border: none !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}

.search-container input:focus{
    width: 450px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.search-container button{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;

} */


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1.2rem 8rem 1.2rem 8rem;
    position: fixed;
    width: 100%;
    background-color: white !important;
    z-index: 99;
}

nav ul{
    display: flex;
    gap: 4rem;
    margin-bottom: 0;
}

nav i{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

nav i:hover{
    background-color: rgba(128, 128, 128, 0.04);
    transition: .3s;
}



.sub-menu-wrap{
    position: absolute;
    top: 0;
    right: 0;
    margin: 4rem 1rem 0 0;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 99;
    border-radius: 12px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: white;
    padding: 10px 20px;
}
.user-info{
    display: flex;
    align-items: center;
    
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    color: black;
    padding: 12px 0;
    text-align: center;

}

.sub-menu-link p{
    width: 100%;
    transition: .2s;
    font-size: .9rem;
}

.sub-menu-link i{
    margin-right: 10px;
    font-size: 1.4rem;
    
}

.sub-menu-link span{
    font-size: 1.4rem;
    transition: transform .2s;
}

.sub-menu-link:hover span{
    transform: translateX(.5rem);
}

.sub-menu-link:hover p{
    transition: .2s;
    margin-left: .5rem;
}




@media screen and (min-width: 1250px){
    #menu{
        display: none;
    }

    .sub-menu-wrap{
        display: none;
    }

}

@media  screen and (max-width: 1250px){
    header{
        flex-direction: column;
        padding: 1rem 1rem 1rem 1rem;
        gap: 1rem;
    }
    
    header img{
        width: 150px;
    }

    .search-bar{
        width: 100%;
    }

    

    nav{
        /* width: 100%; */
        display: none !important;
    }

    /* nav ul{
        gap: 0;
        justify-content: space-around;
    } */
    
    .logo-y-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo-y-menu i{
        font-size: 1.5rem;
        cursor: pointer;
    }

}


/* header */



/* main */

main{
    padding: 110px 8rem 0rem 8rem;
}

/* carrusel */

.carousel {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.carousel-inner {
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-item {
    width: 33.33%;
    height: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* fin carrusel */








/* productos */







/* fin productos */


/* mq */

@media  screen and (max-width: 1250px){
    main{
        padding: 150px 1rem 0rem 1rem;
    }
    .carousel {
        height: 150px;
    }
    .carousel-item img {
        object-fit: cover;
    }
}

/* fin mq */


/* fin main */



/* footer */






/* fin footer */