main{
    padding: 78px 8rem;
}

.pago_container{
    display: flex;
    flex-direction: column;

}

.pago_container h1{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.tarjetas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.tarjeta{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: space-between; */
}

.tarjeta-texto h2{
    font-weight: 600;
    font-size: 1.4rem;
} 

.tarjeta-texto p{
    font-weight: 400;
    font-size: .85rem;
    margin: .5rem 0;
    color: #a0a0a0;
}


table{
    border-collapse: collapse;
}

.resumen_tabla{
    width: 100%;
    table-layout: fixed
}

.resumen_tabla th{
    font-weight: 600;
    padding: 12px;
    font-size: .9rem;
    color: #00000070;
    border-bottom: 1px solid #e0e0e0;
}


tbody td{
    padding: 20px;
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

tfoot td{
    padding: 20px 0 0;

    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}

.total{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    
}

.total h3{
    font-weight: 600;
    font-size: 1.4rem;
}


.tabla_container{
    height: 100%;
    display: flex;
    align-items: center;
}






.form_container{
    height: 100%;
    display: flex;
    align-items: center;
}

.forma_pago form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
}

.fecha-ccv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.labels-inputs{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.labels-inputs label{
    font-size: .9rem;
    font-weight: 500;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.labels-inputs input{
    padding: 8px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: .2s;
    outline: none;
    width: 100%;
}

.labels-inputs input:focus{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: .2s;
}

.forma_pago button{
   
    width: 100%;
    cursor: pointer;
    padding: 12px;
    font-weight: 600;
    font-size: .9rem;
    background-color: #151111;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: .2s;
    outline: none;
}

.forma_pago button:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: #000000c1;
    transition: .2s;
}

.forma_pago i{
    font-weight: 500;
    margin-right: 5px;
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


@media screen and (max-width: 1250px){
    main{
        padding: 118px 1rem 4rem;
    }
    .tarjetas{
        display: flex;
        flex-direction: column;
    }
}