main{
    padding: 78.4px 8rem 0;
}

.pedidos h1{
    margin: 2rem 0;
    font-weight: 600;
}



.imagen{
    width: 100px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}



.pedido-contenido{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}





.producto{
    display: grid;
    grid-template-columns: 1fr 1.5fr .5fr;
    align-items: center;
    /* justify-items: center; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 1rem;
    gap: 1rem;
    transition: .2s;
}


.imagen{
    margin: 0 auto;
}



.info-producto h2{
    font-size: 1.2rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.info-producto p{
    font-size: .9rem;
    font-weight: 400;
    text-align: start;
    color: rgba(128, 128, 128, 0.75) !important;
    text-wrap: nowrap;
    overflow: hidden;
    padding: .3rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-producto h3{
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black
}

.cantidad p{
    font-size: 1.1rem;
    color: black;
}


.no-pedido{
    
    border-radius: 12px;
    padding: 4rem 0;
    font-size: 1.1rem;
    grid-column: 1 / 4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}



.producto:hover{
    transition: .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.total{
    margin: 2.5rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}











.hidden{
    display: none;
}








@media screen and (max-width: 900px){
    .pedido-contenido{
        grid-template-columns: 1fr;

    }
}




@media screen and (max-width: 1250px){
    main{
        padding: 118.1px 1rem 0;
    }
    
    
    
    
    
}