body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}


html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    padding: 78.4px 8rem 0;
    

}

.pedidos h1{
    margin: 2rem 0;
    font-weight: 600;
}


.linea{
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    margin: 3rem 0;
}









.pedidos-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 0 4rem;
}

.pedido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 2rem;
    transition: .3s;
    cursor: pointer;
    gap: 1rem;
}

.pedido:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.pedido h2{
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    padding: .5rem;
}

.pedido p{
    /* font-size: 1rem; */
    font-weight: 400;
    text-align: start;
    color: black;
    text-wrap: nowrap;
}


.estados{
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: .9rem;
}

.enviado{
    color: rgb(0, 180, 0) !important;
    /* background-color: rgb(0, 180, 0) !important; */
    /* font-weight: 400 !important; */
    border: 2px solid rgb(0, 180, 0) !important;
    border-radius: 8px;
    padding: .4rem;
}

.pendiente{
    color: orange !important;
    /* background-color: orange !important; */
    /* font-weight: 400 !important; */
    border: 2px solid orange !important;
    border-radius: 8px;
    padding: .4rem;
}

.cancelado{
    color: red !important;
    /* background-color: red !important; */
    /* font-weight: 400 !important; */
    border: 2px solid red !important;
    border-radius: 8px;
    padding: .4rem;
    
}

.no-pedidos{
    
    border-radius: 12px;
    padding: 4rem 0;
    font-size: 1.1rem;
    grid-column: 1 / 4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}



@media screen and (max-width: 500px){
    .pedido{
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}


@media screen and (max-width: 900px){
    .pedidos-container{
        grid-template-columns: 1fr;
    }
    
}



@media screen and (max-width: 1250px){
    main{
        padding: 118.1px 1rem 0;
    }

    

    
}

.show {
    opacity: 1;
    animation: fade-in-up 1s;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}


@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}