:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    user-select: none;
    
}
body{
    background-color: var(--grey);
}



/* header */


/* /////////////////////////// FIN HEADER ///////////////////////*/



/* ASIDE DEL MENU ADMIN */
aside{
    background: var(--grey);
    position: fixed;
    background-color: white;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    z-index: 900;
}

.menu{
    
    position: relative;
    margin-top: 200px;
    width: 100%;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 12px;
}
.menu li{
    margin-left: 10px;
    border-radius: 50px;
}
  

.menu li.active{
    background: var(--grey);
    position: relative;
    
}


.menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
    
}

.menu li.active::after{
    content: "";
    position: absolute;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.menu li span{
    font-weight: 500;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    padding: 10px 0 10px 30px;
    margin-bottom: 1rem;
    cursor: pointer; 
    
}
/* FIN ASIDE DEL MENU ADMIN */




/* /////////////////////////// FIN ASIDE ///////////////////////*/






/* SECCIONES DE ADMINISTRACION */
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
    margin-top: 20px;
}
/* FIN SECCIONES DE ADMINISTRACION */





/* /////////////////////////////  GRAFICOS //////////////////////*/
.container_graficos{
    margin: 2rem 25px 2rem 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


canvas{
    
    margin: auto;
    max-width: 90%;
}

.canvas_bar{
    position: relative;
    /*width: 700px;*/
    margin-top: 1.5rem;
}

.graficos{
    min-width: 750px;
    border-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: white;
   
}

.graficos span{
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark);
}





/* /////////////////////////////  SELLCARDS //////////////////////*/





.sellcards{
    margin: 0 25px 0 25px;
    display: flex;
    justify-content: space-around;
  
}



.card{
    height: 230px;
    width: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    position: relative;
}

.card h2{
    color: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    margin: 0 8px;
    top: 10px;
    left: 10px;
    z-index: 1;
    
}

.card i{
    font-size: 2rem;
    color: rgb(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 5px 10px 10px;   
}

 

.container_datos {
    position: absolute;
    font-weight: 600;
    bottom: 70px;
    left: 20px;
    color: rgb(255, 255, 255);
    width: 90%; /* Ajusta el ancho según sea necesario */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra puntos suspensivos */
    
}
.container_datos p{
    position: relative;
    top: -9px;
    left: -9px;
    color: rgb(153, 255, 0);
}
.container_datos i{
    position: relative;
    font-size: 1rem;
    color: rgb(153, 255, 0);
}
    
.dato{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    
}
#total_sell div{
    top: 95px;
}
#total_product div{
    top: 95px;
}

header{
    display: none;
}

.configuraciones{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 0rem 25px 2rem;
    flex-direction: column;
    align-items: start;
}

.input-label{
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.input-label input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.configuraciones button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--dark);
    color: white;
    transition: .2s;
}

.configuraciones button:hover{
    background-color: var(--color-primary);
    color: white;
    transition: .2s;

}

.configuraciones form{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    
    
}

/* responsive */
@media screen and (max-width: 1200px){
    
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    } 
    .sellcards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    /* .container_graficos{
        display: grid;
        margin: auto;
    } */
    /* .graficos{
        margin-top: 2rem;
    } */
    
}

@media screen and (max-width: 1000px){
    .content{
        margin-top: 125px;
    }
    header{
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 1rem;
        position:fixed;
        width: 100%;
        z-index: 9999;
        top: 0;
        gap: 1rem;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    }
    
    nav ul{
        display: flex;
        gap: 2rem;
        
    }
    nav ul a{
        color: black;
    }
    
    aside{
        display: none;
    }

    .content{
        padding-left: 0;
    }

    .container_graficos{
        gap: 1rem;
        margin: 1rem 0 1rem 0 ;
    }
    

}

@media screen and (max-width: 800px){
    .sellcards{
        grid-template-columns: 1fr;
    }
    .graficos{
        min-width: 375px;
        
    }
    .card{
        width: 375px;
    }

}